.cryptochart {
  // height: 75%;

  &__title {
    font-size: 3rem;
    margin-bottom: 2rem;

    &:first-letter {
      text-transform: capitalize;
    }

    span {
      text-transform: uppercase;
    }
  }
}

.highcharts-yaxis-grid .highcharts-grid-line {
  stroke: rgba($color-text-grey, 0.4) !important;
}

.highcharts-axis-labels text {
  color: $color-text-grey !important;
  fill: $color-text-grey !important;
}

.highcharts-yaxis-labels {
  transform: translateX(2.2rem);
}

.highcharts-yaxis {
  transform: translateX(1.6rem);
}

.highcharts-axis-title {
  color: $color-text-grey !important;
  fill: $color-text-grey !important;
}

.highcharts-graph {
  stroke: $color-highlight-blue;
}

.highcharts-navigator-handle {
  fill: $color-text-dark-grey;
  stroke: $color-text-grey;
}

.highcharts-navigator-outline {
  stroke: $color-text-grey;
}

.highcharts-navigator-mask-inside {
  fill: rgba($color-highlight-blue, 0.2);
}

.highcharts-range-selector-buttons {
  transform: translate(71%, 0px);
}

.highcharts-button-pressed .highcharts-button-box {
  fill: $color-text-dark-grey;
}

.highcharts-button-pressed text {
  color: #fff !important;
  fill: #fff !important;
  font-weight: 400 !important;
}

.highcharts-button-hover .highcharts-button-box {
  fill: $color-text-dark-grey;
}

.highcharts-button-hover text {
  color: #fff !important;
  fill: #fff !important;
  font-weight: 400 !important;
}

.highcharts-button-normal .highcharts-button-box {
  fill: #19223a !important;
}

.highcharts-button-normal text {
  color: $color-text-grey !important;
  fill: $color-text-grey !important;
}

.highcharts-button-disabled .highcharts-button-box {
  fill: $color-text-grey;
}

.highcharts-tooltip text tspan:nth-child(2) {
  fill: $color-highlight-blue !important;
}
