.container {
  min-height: 80rem;
  max-width: 140rem;
  // Temporary until content is added
  min-width: 140rem;
  // End Temporary
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  background-color: $color-background-blue;
  color: #fff;
  display: flex;
}

.main {
  margin: 2rem;
  margin-left: 8rem;
  width: 100%;
}
