.sidebar {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.side-nav {
  list-style: none;
  font-size: 1.6rem;

  &__logo {
    margin: 2.5rem 0;
  }

  &__item {
    display: flex;
    margin: 3rem 0;
    padding: 1.5rem 0;
    padding-left: 3rem;
    color: $color-text-grey;
    flex: 1;
    border-left: 4px solid $color-background-blue;
    cursor: pointer;

    &:hover {
      color: #fff;
      border-left: 4px solid $color-highlight-blue;
    }
  }

  &__img {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 1rem;
    fill: currentColor;
  }
}
