.sidebar {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.side-nav {
  list-style: none;
  font-size: 1.6rem;

  &__logo {
    margin: 2.5rem 0;
  }

  &__item {
    position: relative;
    display: flex;
    margin: 3rem 0;
    // padding: 1.5rem 0;
    // padding-left: 4rem;
    color: $color-text-grey;
    flex: 1;
    cursor: pointer;

    a {
      color: inherit;
      text-decoration: none;
      z-index: 10;
      display: flex;
      padding: 1.5rem 0;
      padding-left: 4rem;
    }

    &:hover {
      color: #fff;
    }

    &--active {
      color: #fff;
      background-color: $color-highlight-blue;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-highlight-blue;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  &__img {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 1rem;
    fill: currentColor;
  }
}
