.transaction-list {
  height: 65%;
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item {
    border: $border-light-grey;
    border-radius: 2px;
    margin-top: 2rem;
    padding: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 1.3rem;

    span {
      color: $color-text-grey;
      font-size: 0.9rem;
    }
  }

  &__icon {
    color: $color-arrow-green;
    fill: currentColor;

    &--down {
      color: $color-arrow-red;
    }
  }
}
