// COLORS
$color-background-grey: #c3c6d1;
$color-background-blue: #20273e;
$color-light-blue: #1929a3;
$color-highlight-blue: #617ae2;

$color-text-grey: #878d9f;
$color-text-dark-grey: #42475f;

// BORDERS
$border-light-grey: 1px solid rgba($color-text-dark-grey, 0.6);

// PIE CHART
$color-pie-highlight-blue: #617ae2;
$color-pie-dark-grey: #42475f;
$color-pie-dark-blue: #2d3f8f;

// ARROWS
$color-arrow-green: #03af81;
$color-arrow-red: #d54153;
