*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #c3c6d1;
  height: 100vh;
  width: 100vw; }

ul {
  list-style: none; }

body {
  font-family: "Montserrat", sans-serif; }

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }

.container {
  height: 80rem;
  max-width: 90%;
  width: 140rem;
  margin: 0 auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  background-color: #20273e;
  color: #fff;
  display: flex; }

.main {
  padding: 2rem;
  padding-left: 5rem;
  flex: 1 1 85%;
  display: flex;
  flex-direction: column; }

.main-content {
  display: flex;
  flex: 1; }

.main-column {
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.side-column {
  flex: 1 0 20%;
  margin-left: 2rem; }

.comingsoon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .comingsoon h1 {
    font-size: 6rem;
    font-weight: 400; }

.sidebar {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }

.side-nav {
  font-size: 1.6rem; }
  .side-nav__logo {
    margin: 2.5rem 0; }
  .side-nav__item {
    position: relative;
    display: flex;
    margin: 3rem 0;
    color: #878d9f;
    flex: 1;
    cursor: pointer; }
    .side-nav__item button {
      background: none;
      border: none;
      color: inherit;
      text-decoration: none;
      z-index: 10;
      display: flex;
      align-items: center;
      padding: 1.5rem 0;
      padding-left: 4rem;
      cursor: pointer; }
    .side-nav__item:hover {
      color: #fff; }
    .side-nav__item--active {
      color: #fff;
      background-color: #617ae2; }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #617ae2;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .side-nav__item:hover::before {
      transform: scaleY(1);
      width: 100%; }
  .side-nav__img {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 1rem;
    fill: currentColor; }

.searchbar {
  position: relative;
  background-color: #20273e;
  color: #878d9f;
  display: flex;
  align-items: center;
  flex: 0 0 40%; }
  .searchbar__form {
    width: 100%; }
  .searchbar__input {
    background-color: #20273e;
    color: #878d9f;
    border: none;
    padding: 0.9rem 2.2rem;
    padding-left: 4rem;
    margin-left: -3rem;
    font-family: inherit;
    transition: all 0.2s;
    width: 90%;
    border: 1px solid #20273e; }
    .searchbar__input:focus {
      outline: none;
      border: 1px solid #878d9f;
      border-radius: 100px; }
    .searchbar__input::placeholder {
      font-size: 1.1rem; }
  .searchbar__search-img {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    z-index: 2; }
  .searchbar__error {
    position: absolute;
    bottom: -2rem;
    left: 2.5rem;
    color: #d54153;
    font-size: 1.2rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  min-height: 3.6rem; }

.masthead {
  display: flex;
  align-items: center; }

.masthead-icons {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  color: #878d9f;
  margin: 0 4rem; }
  .masthead-icons__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor;
    cursor: pointer; }
    .masthead-icons__icon--grid {
      height: 2.5rem;
      width: 2.5rem;
      transform: translateY(-1px); }
    .masthead-icons__icon--down-arrow {
      height: 2.5rem;
      width: 2.5rem;
      color: #878d9f;
      transform: translateY(0.4rem); }
    .masthead-icons__icon:hover {
      color: #fff; }

.masthead-about {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem; }
  .masthead-about__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer; }
  .masthead-about__job-title {
    color: #878d9f;
    text-align: end; }

.dashboard {
  margin-top: 2rem;
  max-width: 100%; }

.cryptochart__title {
  font-size: 3rem;
  margin-bottom: 2rem; }
  .cryptochart__title:first-letter {
    text-transform: capitalize; }
  .cryptochart__title span {
    text-transform: uppercase; }

.highcharts-yaxis-grid .highcharts-grid-line {
  stroke: rgba(135, 141, 159, 0.4) !important; }

.highcharts-axis-labels text {
  color: #878d9f !important;
  fill: #878d9f !important; }

.highcharts-yaxis-labels {
  transform: translateX(2.2rem); }

.highcharts-yaxis {
  transform: translateX(1.6rem); }

.highcharts-axis-title {
  color: #878d9f !important;
  fill: #878d9f !important; }

.highcharts-graph {
  stroke: #617ae2; }

.highcharts-navigator-handle {
  fill: #42475f;
  stroke: #878d9f; }

.highcharts-navigator-outline {
  stroke: #878d9f; }

.highcharts-navigator-mask-inside {
  fill: rgba(97, 122, 226, 0.2); }

.highcharts-container,
.highcharts-container svg {
  width: 100% !important; }

.highcharts-button-pressed .highcharts-button-box {
  fill: #42475f; }

.highcharts-button-pressed text {
  color: #fff !important;
  fill: #fff !important;
  font-weight: 400 !important; }

.highcharts-button-hover .highcharts-button-box {
  fill: #42475f; }

.highcharts-button-hover text {
  color: #fff !important;
  fill: #fff !important;
  font-weight: 400 !important; }

.highcharts-button-normal .highcharts-button-box {
  fill: #19223a !important; }

.highcharts-button-normal text {
  color: #878d9f !important;
  fill: #878d9f !important; }

.highcharts-button-disabled .highcharts-button-box {
  fill: #878d9f; }

.highcharts-tooltip text tspan:nth-child(2) {
  fill: #617ae2 !important; }

.wallet {
  flex: 0 1 30%;
  border: 1px solid rgba(66, 71, 95, 0.6);
  border-radius: 2px; }

.currency-info {
  position: relative;
  display: flex;
  border-bottom: 1px solid rgba(66, 71, 95, 0.6);
  color: #878d9f;
  height: calc(7.5rem - 1px); }
  .currency-info__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: currentColor; }
  .currency-info__icon-background {
    position: absolute;
    background-color: #182035;
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-1px, -1px);
    border-radius: 2px; }
  .currency-info__currency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9.2rem; }
    .currency-info__currency p {
      color: #878d9f;
      font-size: 1.1rem;
      line-height: 2rem; }
    .currency-info__currency h3 {
      font-size: 2.4rem;
      color: #fff;
      font-weight: 400; }
  .currency-info__triangle {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.2rem 1.2rem 0;
    border-color: transparent #182035 transparent transparent;
    cursor: pointer; }

.price-history__container {
  padding: 1.5rem 2.7rem; }

.price-history__item {
  color: #878d9f;
  font-size: 1.2rem; }
  .price-history__item span {
    color: #fff;
    float: right; }
  .price-history__item:not(:last-of-type) {
    padding-bottom: 1rem; }

.wallet-list {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between; }

.wallet-add {
  flex: 0 1 30%;
  border: 1px solid rgba(66, 71, 95, 0.6);
  border-bottom: none;
  border-radius: 2px;
  height: 50%;
  cursor: pointer; }

.transaction-history {
  color: #878d9f;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%; }

.transaction-chart {
  border: 1px solid rgba(66, 71, 95, 0.6);
  border-radius: 2px;
  min-height: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0; }
  .transaction-chart__header {
    font-size: 1.2rem;
    opacity: 0.8;
    line-height: 2rem; }
  .transaction-chart__arrow {
    height: 1.5rem;
    width: 1.5rem;
    transform: translateY(3px);
    margin-left: 1px;
    fill: currentColor;
    cursor: pointer; }
  .transaction-chart__list {
    display: flex;
    justify-content: space-between; }

.transaction-list__container {
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.transaction-list__item {
  border: 1px solid rgba(66, 71, 95, 0.6);
  border-radius: 2px;
  padding: 2rem;
  display: flex;
  align-items: center; }

.transaction-list__desc {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 1.3rem; }
  .transaction-list__desc span {
    color: #878d9f;
    font-size: 0.9rem; }

.transaction-list__icon {
  color: #03af81;
  fill: currentColor; }
  .transaction-list__icon--down {
    color: #d54153; }

.transaction-chart__chart .highcharts-container {
  height: 25rem !important; }

.transaction-chart__chart .highcharts-root {
  height: 25rem !important; }

.transaction-chart__chart .highcharts-legend-item text tspan {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
  fill: #878d9f !important; }

.transaction-chart__chart .highcharts-tooltip text tspan:nth-child(1) {
  font-size: 1.4rem !important; }

.wallets {
  max-width: 95%;
  margin-right: 2rem;
  margin-top: 1rem; }
  .wallets__info {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(135, 141, 159, 0.2);
    margin-bottom: 1rem; }
  .wallets__scroll-under {
    max-height: 56rem;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; }
    .wallets__scroll-under::-webkit-scrollbar {
      display: none; }
  .wallets__header {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 400; }

.coin-list {
  display: flex;
  justify-content: space-between; }
  .coin-list__item-container {
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 2.5rem; }
  .coin-list__item {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding-bottom: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid transparent; }
    .coin-list__item:not(:last-of-type) {
      margin-right: 5rem; }
    .coin-list__item:hover {
      color: #617ae2;
      border-bottom: 1px solid #617ae2; }
    .coin-list__item--active {
      color: #617ae2;
      border-bottom: 1px solid #617ae2; }
  .coin-list__add {
    font-size: 1.4rem;
    cursor: pointer; }
    .coin-list__add:hover {
      color: #617ae2; }

.wallets-price-history {
  display: flex; }
  .wallets-price-history__item {
    text-align: end;
    text-transform: uppercase; }
    .wallets-price-history__item p {
      font-size: 1.2rem;
      margin-bottom: 0.3rem;
      color: #878d9f; }
    .wallets-price-history__item h3 {
      font-size: 2.5rem;
      font-weight: 400; }
    .wallets-price-history__item:not(:last-of-type) {
      margin-right: 6rem; }

.recent-transactions__header {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(135, 141, 159, 0.2); }

.recent-transaction-left {
  display: flex;
  align-items: center; }

.recent-transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(135, 141, 159, 0.2); }
  .recent-transaction-item:not(:last-of-type) {
    padding-bottom: 1rem; }
  .recent-transaction-item__time {
    font-size: 1.3rem;
    color: #878d9f;
    margin-left: 2rem;
    margin-right: 3rem;
    width: 5rem; }
  .recent-transaction-item__icon {
    fill: currentColor;
    margin-right: 3rem; }
  .recent-transaction-item__name {
    display: flex;
    flex-direction: column; }
    .recent-transaction-item__name--title {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 0.2rem; }
    .recent-transaction-item__name--desc {
      color: #878d9f;
      font-size: 1.1rem; }
  .recent-transaction-item__amount {
    font-size: 1.3rem; }

.exchange {
  margin-top: 1rem;
  max-width: 95%;
  max-height: 100%; }
  .exchange__title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1.5rem; }

.exchange-list {
  max-height: 62.3rem;
  border-radius: 4px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  .exchange-list::-webkit-scrollbar {
    display: none; }
  .exchange-list__header {
    display: flex;
    justify-content: space-between;
    background-color: #617ae2; }
  .exchange-list__header-item {
    padding: 1.6rem 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    flex: 1; }
    .exchange-list__header-item:last-of-type {
      flex: 0;
      min-width: 10rem;
      text-align: right; }

.exchange-list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(66, 71, 95, 0.6); }
  .exchange-list-item__item {
    padding: 1.6rem 2rem;
    font-size: 1.2rem;
    flex: 1; }
    .exchange-list-item__item:last-of-type {
      flex: 0;
      min-width: 10rem;
      text-align: right; }
